
.App {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time{
  background-color: black;
  color: whitesmoke;
  width: 60px;
  font-size: xx-large;
  margin: 5px;
  padding: 10px;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
